In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tv-series/TV Series.csv

In [2]:
#Importing the Libraries of Python pandas , Numpy etc..
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Loading the Data in the notebook environment  
Data = pd.read_csv("/kaggle/input/tv-series/TV Series.csv")
Data.head()

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."

In [4]:
Data.tail()

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
49995,Law & Order: Special Victims Unit,(1999– ),60 min,"Crime, Drama, Mystery",8.1,"Mariska Hargitay, Christopher Meloni, Ice-T, D...","This series follows the Special Victims Unit, ..."
49996,Doctor Who,(2005– ),45 min,"Adventure, Drama, Sci-Fi",8.6,"Jodie Whittaker, Peter Capaldi, Pearl Mackie, ...",The further adventures in time and space of th...
49997,The Lord of the Rings: The Rings of Power,(2022– ),****,"Action, Adventure, Drama",6.9,"Morfydd Clark, Ismael Cruz Cordova, Charlie Vi...",Epic drama set thousands of years before the e...
49998,The Bear,(2022– ),30 min,"Comedy, Drama",8.4,"Jeremy Allen White, Ebon Moss-Bachrach, Ayo Ed...",A young chef from the fine dining world return...
49999,Supernatural,(2005–2020),44 min,"Drama, Fantasy, Horror",8.4,"Jared Padalecki, Jensen Ackles, Jim Beaver, Mi...",Two brothers follow their father's footsteps a...

Due too much **large dataset**, and we limited **30GB RAM**. I'm **removing** **10,000** rows because it can't handle this much data.We only take **40,000** rows of data still we have penalty of data for a recommender system.

In [5]:
number_of_rows = 40000
df1 = Data.iloc[:number_of_rows].reset_index(drop = True)

In [6]:
df1

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."
...,...,...,...,...,...,...,...
39995,Law & Order: Special Victims Unit,(1999– ),60 min,"Crime, Drama, Mystery",8.1,"Mariska Hargitay, Christopher Meloni, Ice-T, D...","This series follows the Special Victims Unit, ..."
39996,Doctor Who,(2005– ),45 min,"Adventure, Drama, Sci-Fi",8.6,"Jodie Whittaker, Peter Capaldi, Pearl Mackie, ...",The further adventures in time and space of th...
39997,The Lord of the Rings: The Rings of Power,(2022– ),****,"Action, Adventure, Drama",6.9,"Morfydd Clark, Ismael Cruz Cordova, Charlie Vi...",Epic drama set thousands of years before the e...
39998,The Bear,(2022– ),30 min,"Comedy, Drama",8.4,"Jeremy Allen White, Ebon Moss-Bachrach, Ayo Ed...",A young chef from the fine dining world return...
39999,Supernatural,(2005–2020),44 min,"Drama, Fantasy, Horror",8.4,"Jared Padalecki, Jensen Ackles, Jim Beaver, Mi...",Two brothers follow their father's footsteps a...

In [7]:
df = df1.copy()

In [8]:
df.isnull().sum()

Series Title      0
Release Year    200
Runtime           0
Genre             0
Rating            0
Cast             91
Synopsis          0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Title  40000 non-null  object
 1   Release Year  39800 non-null  object
 2   Runtime       40000 non-null  object
 3   Genre         40000 non-null  object
 4   Rating        40000 non-null  object
 5   Cast          39909 non-null  object
 6   Synopsis      40000 non-null  object
dtypes: object(7)
memory usage: 2.1+ MB

In [10]:
df

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."
...,...,...,...,...,...,...,...
39995,Law & Order: Special Victims Unit,(1999– ),60 min,"Crime, Drama, Mystery",8.1,"Mariska Hargitay, Christopher Meloni, Ice-T, D...","This series follows the Special Victims Unit, ..."
39996,Doctor Who,(2005– ),45 min,"Adventure, Drama, Sci-Fi",8.6,"Jodie Whittaker, Peter Capaldi, Pearl Mackie, ...",The further adventures in time and space of th...
39997,The Lord of the Rings: The Rings of Power,(2022– ),****,"Action, Adventure, Drama",6.9,"Morfydd Clark, Ismael Cruz Cordova, Charlie Vi...",Epic drama set thousands of years before the e...
39998,The Bear,(2022– ),30 min,"Comedy, Drama",8.4,"Jeremy Allen White, Ebon Moss-Bachrach, Ayo Ed...",A young chef from the fine dining world return...
39999,Supernatural,(2005–2020),44 min,"Drama, Fantasy, Horror",8.4,"Jared Padalecki, Jensen Ackles, Jim Beaver, Mi...",Two brothers follow their father's footsteps a...

Now we are slpiting the words in columns (**Synopsis,Cast, Genre**) ,and creating a list of words. this process help us in **Content-Based recommender system**. This words fruther used as **tags**.

In [11]:
df['Synopsis'] = df['Synopsis'].apply(lambda x:x.split())
df.head()

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","[Follows, Wednesday, Addams', years, as, a, st..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...","[A, ranching, family, in, Montana, faces, off,..."
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","[Set, in, a, tropical, resort,, it, follows, t..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...","[The, Duttons, face, a, new, set, of, challeng..."
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","[Up-and-coming, CIA, analyst,, Jack, Ryan,, is..."

In [12]:
df['Cast'].fillna('', inplace = True)
df['Cast'] = df['Cast'].apply(lambda x:x.split() if x else x)

In [13]:
df['Genre'] = df['Genre'].apply(lambda x:x.split())

In [14]:
df.head()

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"[Comedy,, Crime,, Fantasy]",8.2,"[Jenna, Ortega,, Hunter, Doohan,, Percy, Hynes...","[Follows, Wednesday, Addams', years, as, a, st..."
1,Yellowstone,(2018– ),60 min,"[Drama,, Western]",8.7,"[Kevin, Costner,, Luke, Grimes,, Kelly, Reilly...","[A, ranching, family, in, Montana, faces, off,..."
2,The White Lotus,(2021–2023),60 min,"[Comedy,, Drama]",7.9,"[Jennifer, Coolidge,, Jon, Gries,, F., Murray,...","[Set, in, a, tropical, resort,, it, follows, t..."
3,1923,(2022–2023),60 min,"[Drama,, Western]",8.6,"[Harrison, Ford,, Helen, Mirren,, Brandon, Skl...","[The, Duttons, face, a, new, set, of, challeng..."
4,Jack Ryan,(2018– ),60 min,"[Action,, Drama,, Thriller]",8.0,"[John, Krasinski,, Wendell, Pierce,, Michael, ...","[Up-and-coming, CIA, analyst,, Jack, Ryan,, is..."

In [15]:
#All three columns (Synopsis,Cast, Genre) combining in one column named as tag.
df['tag'] = [' '.join(map(str, [g, s])) for g, s in zip(df['Genre'], df['Synopsis'])]
df['tag']

0        ['Comedy,', 'Crime,', 'Fantasy'] ['Follows', '...
1        ['Drama,', 'Western'] ['A', 'ranching', 'famil...
2        ['Comedy,', 'Drama'] ['Set', 'in', 'a', 'tropi...
3        ['Drama,', 'Western'] ['The', 'Duttons', 'face...
4        ['Action,', 'Drama,', 'Thriller'] ['Up-and-com...
                               ...
39995    ['Crime,', 'Drama,', 'Mystery'] ['This', 'seri...
39996    ['Adventure,', 'Drama,', 'Sci-Fi'] ['The', 'fu...
39997    ['Action,', 'Adventure,', 'Drama'] ['Epic', 'd...
39998    ['Comedy,', 'Drama'] ['A', 'young', 'chef', 'f...
39999    ['Drama,', 'Fantasy,', 'Horror'] ['Two', 'brot...
Name: tag, Length: 40000, dtype: object

In [16]:
#Creating a new Data Frame name Series to store the Series Title and Tags .
Series = df[['Series Title','tag']]
Series.head()

      Series Title                                                tag
0        Wednesday  ['Comedy,', 'Crime,', 'Fantasy'] ['Follows', '...
1      Yellowstone  ['Drama,', 'Western'] ['A', 'ranching', 'famil...
2  The White Lotus  ['Comedy,', 'Drama'] ['Set', 'in', 'a', 'tropi...
3             1923  ['Drama,', 'Western'] ['The', 'Duttons', 'face...
4        Jack Ryan  ['Action,', 'Drama,', 'Thriller'] ['Up-and-com...

Now in next some step we refine the tag column, **removing** the different **punctuation** betwwen the words.

In [17]:
Series['tag'] = df['tag'].apply(lambda x:"".join(x))

In [18]:
Series['tag'][0]

'[\'Comedy,\', \'Crime,\', \'Fantasy\'] [\'Follows\', \'Wednesday\', "Addams\'", \'years\', \'as\', \'a\', \'student,\', \'when\', \'she\', \'attempts\', \'to\', \'master\', \'her\', \'emerging\', \'psychic\', \'ability,\', \'thwart\', \'and\', \'solve\', \'the\', \'mystery\', \'that\', \'embroiled\', \'her\', \'parents.\']'

In [19]:
#Using replace dunction ,removing the punctuation and adding space at there place.
for column in df.columns:
    Series['tag'] = Series['tag'].apply(lambda x: str(x).replace('[', '').replace(']', '').replace('\'', '').replace(',', ''))

In [20]:
#In above shell we can see addams is between  the double inverted commas, removing these inverted commas
Series['tag'][0] = Series['tag'][0].replace('"Addams"', 'Addams')

In [21]:
#Now the tag column is ready.
Series['tag'][0]

'Comedy Crime Fantasy Follows Wednesday Addams years as a student when she attempts to master her emerging psychic ability thwart and solve the mystery that embroiled her parents.'

In [22]:
#Converting the capital letters into the lower case.
Series['tag']= Series['tag'].apply(lambda x:x.lower())
Series['tag'][0]

'comedy crime fantasy follows wednesday addams years as a student when she attempts to master her emerging psychic ability thwart and solve the mystery that embroiled her parents.'

In [23]:
#Renaming the column name from Series Title to Title
Series = Series.rename(columns={'Series Title':'Title'})

In [24]:
Series.head()

             Title                                                tag
0        Wednesday  comedy crime fantasy follows wednesday addams ...
1      Yellowstone  drama western a ranching family in montana fac...
2  The White Lotus  comedy drama set in a tropical resort it follo...
3             1923  drama western the duttons face a new set of ch...
4        Jack Ryan  action drama thriller up-and-coming cia analys...

Now, We make a function to perform the stemming: ***Stemming is the process of reducing a word to its word stem that affixes to suffixes and prefixes or to the roots of words known as a lemma. For example: words such as “Likes”, ”liked”, ”likely” and ”liking” will be reduced to “like” after stemming. ***

In [25]:
#Importing the PorterStemmer from the nltk which is a NLP library. 
from nltk.stem import PorterStemmer

ps = PorterStemmer()

def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    string = ' '.join(y)
    return string

In [26]:
Series['tag'] = Series['tag'].apply(stem)

Now, I'm going to implementing the **vectorization** using the TfidfVectorizer: **TfidfVectorizer is a term frequency-inverse document frequency (TF-IDF) vectorizer in Python, commonly used in natural language processing (NLP) and information retrieval. It is a method used to convert text documents into numerical vectors, which can then be used as input for machine learning algorithms.**

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
tfIdfVectorizer=TfidfVectorizer(use_idf=True,  max_features=50000, stop_words='english')

In [29]:
#Converting the words in tag column into vectors 
vectors = tfIdfVectorizer.fit_transform(Series['tag']).toarray()

In [30]:
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [31]:
vectors.shape

(40000, 19255)

Using Sklearn library importing cosine_similarity: **cosine_similarity is a function used to compute the cosine similarity between pairs of vectors. In the context of text processing and natural language processing (NLP), it's often used to measure the similarity between documents or text snippets represented as vectors, typically using TF-IDF (Term Frequency-Inverse Document Frequency) vectors.**

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

In [33]:
similarity = cosine_similarity(vectors)

In [34]:
similarity.shape

(40000, 40000)

Now, I'm gona make** main function** to recommend the TV Shows,Recommending the TV show according the **distance** between the vectors in **similarity table of 40000 dimensions**. And find the **Neariest Similar TV Show**.

In [35]:
def recommendation(movie):
    movie_index = Series[Series['Title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:11]
    for i in movies_list:
        print(Series.iloc[i[0]].Title)

In [36]:
recommendation("Jack Ryan")

National Treasure: Edge of History
Game of Thrones
Brain Games
Rise of Empires: Ottoman
National Treasure: Edge of History
Annyeong? Naya!
Alice in Borderland
Doctor Who
Two Fat Ladies
Hunters